.about-me {
  color: #333;
  padding: 8rem;
}

.intro {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.intro img {
  width: 200px;
  height: 200px;
  border-radius: 30%;
  border: 3px solid var(--color-highlight);
  object-fit: cover;
}

.intro p {
  flex: 1;
  line-height: 1.6;
}

.buton-es-en{
  background-color: #ff914d;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.buton-es-en:hover {
  background-color: #6c63ff;
}