/* src/components/NavBar/Navbar.css */
.navbar {
    position: fixed;
    top: 0;
    width: 96%;
    height: 10%;
    z-index: 90;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: transparent;
    transition: all 0.3s ease;
  }
  
  .navbar.scrolled {
    background: rgba(0, 0, 0, 0.8); 
    backdrop-filter: blur(10px);
  }
  
  .navbar-logo img {
    width: 80px; 
    margin-top: 25px;
    height: auto;
    transition: width 0.3s ease;
  }
  .logo1 {
  width: 120px;
  margin-bottom: 20px;
}
  
  .navbar-icons {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .menu-icon, .cart-icon {
    font-size: 1.3rem;
    color: #2C3E50;
    cursor: pointer;
  }
  
  .cart-icon {
    position: relative;
  }
  
  .cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    font-size: 0.8rem;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
  }
  
  .user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid white;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 60px;
    right: 20px;
    background: rgba(0, 0, 0, 0.9);
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown-menu li {
    padding: 10px 0;
    cursor: pointer;
    color: white;
  }
  
  .dropdown-menu li:hover {
    color: #E8D8C4;
  }
  
.avatar-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}


.avatar-wrapper.admin .user-avatar {
  border: 2px solid gold;
  padding: 2px;
}

.avatar-nickname {
  display: block;
  font-size: 0.7rem;
  color: #6c63ff;
  text-align: center;
  margin-top: 4px;
}

.admin-crown {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 14px;
}

.auth-button{
  background-color:#27AE60;
  color: #fdfdfd;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
.auth-button:hover{
   background-color: #6c63ff;
}